<div class="modal fade" id="videoPopup" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
					<div class="modal-header">
							<button type="button" class="close popupVideoClose" data-dismiss="modal" aria-hidden="true">{% render 'icon-close' %}</button>
					</div>
					<div class="container">
						<video controls  id="popupVideoMain">
							<source src="" type="video/mp4">
						</video>

					</div>
					
			</div>
	</div>
</div>
<div class="modal fade" id="formPopup" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
					<div class="container containerPopupform">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{% render 'icon-close' %}</button>
						[nerdy-form:1246]
				</div>
					
			</div>
	</div>
</div>
