.hero-banner {
    .responsive-image__wrapper img {
        @include media(mobile) {
            min-height: rem(480px);
        }
    }
    &__bg {
        .video {
            width: 100%;
            max-height: rem(720px);
            object-fit: cover;
            display: block;
            @include media(mobile) {
                min-height: rem(480px);
            }
        }
        .mobile {
            display: none;
            .responsive-image__wrapper img.responsive-image__image {
                max-width: 100% !important;
            }
        }
        img {
            max-width: 100% !important;
            max-height: 85vh !important;
        }
    }
    .container-max {
        position: relative;
    }
    &__cover {
        background-color: #000;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.3;
    }
    &__content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: rem(40px);
        @include media(mobile) {
            padding: rem(16px);
            overflow: hidden;
        }
    }
    &__body {
        color: $color-white;
        max-width: 890px;
        @include media(mobile) {
            max-width: 100%;
        }
    }
    &__title {
        line-height: 95%;
        margin-bottom: 1rem;
        color: transparent;
        -webkit-text-stroke: 1px $color-white;
        // word-break: break-all;
        @include media(tablet) {
            word-break: break-all;
        }
        @include media(mobileXS) {
            font-size: rem(32px);
        }
    }
    &__pretitle {
        font-weight: 400;
        color: inherit;
    }
    &__text {
        max-width: 415px;
        display: inline-block;
        margin-bottom: 1rem;
        font-weight: 300;
        // margin: 0 auto 1rem;
        a {
            color: inherit;
        }
    }
    &__link {
        color: inherit;
        &:hover {
            color: inherit;
        }
    }
}
