.page {
    padding: 2rem 0 4rem;
    &__title {
        text-align: center;
        margin-bottom: 4rem;
    }
    img,
    p,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 1rem;
    }
    &__content {
        h1,
        .h1 {
            font-size: rem(58px);
            line-height: 95%;
        }
        h2,
        .h2 {
            font-size: rem(30px);
            line-height: 95%;
        }
        h3,
        .h3 {
            font-size: rem(25px);
            line-height: rem(48px);
        }
        h4,
        .h4 {
            font-size: rem(24px);
            line-height: rem(29px);
        }
        h5,
        .h5 {
            font-size: rem(16px);
            line-height: rem(19px);
        }
        h6,
        .h6,
        .small {
            font-size: rem(14px);
        }
    }
}
