<!-- Content for header here -->
{{content_for_header}}

<main role="main" id="MainContent">
  {{ content_for_layout }}
</main>

<div id="Login">
  <h2>Login</h2>

  {%- form 'storefront_password' -%}
    {{ form.errors | default_errors }}

    <label for="password">Password</label>
    <input type="password"
      name="password"
      id="password"
      placeholder="Your password">

    <button type="submit" name="commit">
      <p>Enter</p>
    </button>
  {%- endform -%}

  <p>Are you the store owner? <a href=\"\/admin\" class=\"text-link\">Log in here<\/a></p>
</div>

<!-- Content for footer here -->