<section data-section-id="{{ section.id }}" class="instagram">
	{% if section.settings.insta_id != '' %}
	<div class="container-fluid container-lg titleContainer">
		<div class="row">
			<div class="col-12">
				{% if section.settings.insta_title != '' %}<h2>{{ section.settings.insta_title }}</h2>{% endif %}
				{% if section.settings.insta_text != '' %}<div class="insta_text">{{ section.settings.insta_text }}</div>{% endif %}
			</div>
		</div>
	</div>
	<div class="container-fluid insta-wrapper">
		<div class="insta-slider" data-id="{{ section.settings.insta_id }}"></div>
	</div>
	{% endif %}
</section>

{% schema %}
{
  "name": {
    "en": "Instagram"
	},
	"class" : "instagram-section",
	"settings": [
		{
			"type": "header",
			"content": {
				"en": "Main Settings",
				"ru": "Main Settings"
			}
		},
		{
      "type": "text",
      "id": "insta_title",
      "label": {
        "en": "Title",
        "ru": "Title"
			},
			"default" : "Connect with Us"
		},
		{
      "type": "richtext",
      "id": "insta_text",
      "label": {
        "en": "Text",
        "ru": "Text"
			},
			"default": "<p>inspired by beauty, always – #Mayaosmolskaya</p>"			
		},
		{
      "type": "text",
      "id": "insta_id",
      "label": {
        "en": "User Name",
        "ru": "User Name"
			},
			"default" : "makeup_mayao"
		}
	],
	"presets": [
		{
			"name": {
				"en": "Instagram",
				"ru": "Instagram"
			},
			"category": {
				"en": "Home Page",
				"ru": "Home Page"
			}
		}
	]
}
{% endschema %}