<!-- /templates/index.liquid -->
 {{ content_for_index }} <script src=" " data-formId="5145" data-shop="maya-osmolskaya.myshopify.com" defer="defer"></script><div id="c1g_contact3322"></div><script src=" " data-formId="3322" data-shop="maya-osmolskaya.myshopify.com" defer="defer"></script>