<div class="cart" data-cart-view="data-cart-view">
  <h5 class="cart__title">
    Cart
    (<span data-cart-render="item_count"></span>)
  </h5>
  <div class="cart__line-items line-items" >
    <div class="line-items__item" rv-each-item="cart.items">
      <div class="featured-image">
        <img rv-src="item.featured_image.url" rv-alt="item.product_title">
      </div>
      <div class="details">
          <h6 rv-text="item.product_title"></h6>
          <div class="line-items__price" rv-html="item.line_price | money Currency.currentCurrency"></div>
          <ul rv-hide="item.options_with_values | empty">
            <li rv-each-property="item.options_with_values < properties">{property.name}: {property.value}</li>
          </ul>
          <div class="quantity-picker">
            <div class="quantity-picker__title">Quantity:</div>
            <button class="quantity-picker__btn quantity-picker__btn--decrease" rv-data-cart-update="index | plus 1" rv-data-cart-quantity="item.quantity | minus 1">-</button>
            <div class="count" rv-text="item.quantity"></div>
            <button class="quantity-picker__btn quantity-picker__btn--increase" rv-data-cart-add="item.id" data-cart-quantity="1">+</button>
          </div>
          <button class="line-items__remove-btn" rv-data-cart-remove="index | plus 1">
            Remove
          </button>
      </div>
    </div>
  </div>
  <div class="cart__details">
    <div>
      <h6>Subtotal:</h6>
      <div rv-html="cart.total_price | money Currency.currentCurrency"></div>
    </div>
    <div>
      <h6>Shipping:</h6>
      <div>Calculated at Checkout</div>
    </div>
    <div>
      <div>Total</div>
      <div rv-html="cart.total_price | money Currency.currentCurrency"></div>
    </div>
    <div>
      <a href="/checkout" rv-class-disabled="cart.items | length | lt 1">
        Checkout
      </a>
    </div>
  </div>
</div>