@import "../fonts/fonts";
@import "./vendor/slick";

$pink: #eca6a1;
$pink2: #fedcd4;
$blush: #876c69;
$charcoal: #282828;
$light-pink: #fff1ee;
$blush2: #d4c8c7;
$error-red: #cf5151;
$success-green: #27ae60;
$light-grey: #696969;
$hover-grey: #4f4f4f;
$inactive-grey: #bdbdbd;

$black: #000;
$white: #fff;

$primary-font: "Blacker Pro Display Condensed Regular", san-serif;
$primary-font-italic: "Blacker Pro Display Condensed Italic", san-serif;
$primary-font-bold: "Blacker Pro Display Condensed Bold", san-serif;
$primary-font-bold-italic: "Blacker Pro Display Condensed Bold Italic",
  san-serif;
$secondary-font: "Futura PT Book", san-serif;
$secondary-font-light: "Futura PT Light", san-serif;
$secondary-font-light-italic: "Futura PT Light Oblique", san-serif;

html {
  scroll-behavior: smooth;
  body {
    font-family: $secondary-font-light;
    scroll-behavior: smooth;
  }
  
  h1,
  h2,
  h3,
  h4,
  .h1,
  .h2,
  .h3,
  .h4 {
    font-family: $primary-font;
    font-weight: 400;
  }
  h1,
  .h1 {
    font-size: 80px;
    line-height: 96px;
    @media (max-width: 990px) {
      font-size: 60px;
      line-height: 1;
    }
    @media (max-width: 767px) {
      font-size: 48px;
    }
    @media (max-width: 360px) {
      font-size: 44px;
    }
  }
  h2,
  .h2 {
    font-size: 60px;
    line-height: 64px;
    @media (max-width: 990px) {
      font-size: 56px;
      line-height: 1;
    }
    @media (max-width: 767px) {
      font-size: 48px;
    }
    @media (max-width: 360px) {
      font-size: 40px;
    }
  }
  h3,
  .h3 {
    font-size: 40px;
    line-height: 50px;
    @media (max-width: 990px) {
      font-size: 40px;
      line-height: 1;
    }
    @media (max-width: 767px) {
      font-size: 32px;
    }
    @media (max-width: 360px) {
      font-size: 28px;
    }
  }
  h4,
  .h4 {
    font-size: 32px;
    line-height: 48px;
    @media (max-width: 990px) {
      font-size: 32px;
      line-height: 1;
    }
    @media (max-width: 767px) {
      font-size: 24px;
    }
    @media (max-width: 360px) {
      font-size: 18px;
    }
  }
  h5,
  .h5 {
    font-size: 24px;
    line-height: 36px;
    font-family: $secondary-font-light;
    @media (max-width: 990px) {
      font-size: 24px;
      line-height: 1;
    }
    @media (max-width: 767px) {
      font-size: 20px;
    }
    @media (max-width: 360px) {
      font-size: 20px;
    }
  }
  h6,
  .h6 {
    font-size: 12px;
    line-height: 22px;
    font-family: $secondary-font;
  }
}