@import "./fonts";
@import 'swiper/swiper-bundle.min.css';

header{
    background-image: url('./images/bg.jpg') 50% 50% no-repeat;
    .site-nav{
        display: flex;
        li{
            margin: 0 10px;
            &.site-nav--has-dropdown{
                position: relative;
            }
            &.active{
                .site-nav__dropdown{
                    display: block;
                }
            }
        }
        &__dropdown{
            display: none;
            position: absolute;
            padding: 11px 30px 11px 0;
            margin: 0;
            z-index: 7;
            text-align: left;
            left: 0;
            top: 24px;
        }
        
    }
}

@include media(tablet){
    h1{
        color: red
    }
}