
@font-face {
	font-family: 'Futura PT Light';
	src: local('Futura PT Light'), local('Futura-PT-Light'),
			url('./fonts/FuturaPT-Light.woff2') format('woff2'),
			url('./fonts/FuturaPT-Light.woff') format('woff'),
			url('./fonts/FuturaPT-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}