.product {
}

.option-select {
  display: flex;
  align-items: center;
  .product-form__field {
    margin: 0.5em;
    position: relative;
    input {
      &[type="radio"] {
        position: absolute;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        & + label {
          margin-bottom: 0;
        }
      }
    }
  }
  &--swatches {
    input {
      &:checked + label {
        border-color: black;
      }
    }
    label {
      border: 1px solid transparent;
      img {
        pointer-events: none;
      }
    }
  }
}

//**CUSTOM SWATCH CSS**//
.main.product {
  .product__details{
    position:sticky;
    top:50px;
    max-height:600px;
  }
  .product-images-container {
    position: relative;
  }
  .product__thumbnail {
    position: absolute;
    top: 200px;
    left: 50px;
  }
  .product-thumbnail__item {
    width: 50px;
  }
  .product-thumbnail__item img {
    width: 100%;
  }
  .custom-swatch {
    &.active {
      img{
        border: 1px solid black;
      }
    }
    img {
      display: inline-block;
      margin-right: 1.6rem;
    }
  }
}
